<form method="POST"
      action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSdXaqpqjTgv2xElS1f6HzSJAP693UKIhdRLR1HRZi_s8kPMvg"
      submit="return window.submitGoogleForm(this);">

    <div class="mb-3">
        <label>Имя</label>
        <input class="form-control" name="entry.1284856457">
    </div>

    <div class="mb-3">
        <label>Фамилия</label>
        <input class="form-control" name="entry.1731994065">
    </div>

    <div class="mb-3">
        <label>Возраст</label>
        <input class="form-control" name="entry.1299770876">
    </div>

    <div class="mb-3">
        <label>Университет</label>
        <input class="form-control" name="entry.1839433063">
    </div>

    <input type="submit" class="btn btn-primary" value="Отправить"/>
    <script src="google-form.js"></script>
</form>
